<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/02/17 09:33:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@3c0f93f1]">createLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/17 09:33:31</td>   <td>24303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_CreateLead@3c0f93f1]">createLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/02/17 09:32:54</td>   <td>-13558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@3c0f93f1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/02/17 09:33:19</td>   <td>12091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@3c0f93f1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
</table>
